<%= form_for @cohorts do |f| %>
  <div class="field">
    <%= f.label :cohort %><br />
    <%= f.collection_select(:cohort_id, @cohorts, :id, :name) %>
    <%= f.submit %>
  </div>
<% end %>

<%= Student.all %>
